@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap");

* {
  box-sizing: border-box;
  font-family: Roboto;
  color: #ffffff;
}

body {
  margin: 0px;
}

.bgCont {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
}

.cont1 {
  background-image: linear-gradient(to right, #f54f5a, #f58529, #f64f59, #d267c4, #00ffff);
  background-size: cover;
  align-items: center;
  width: 100%;
  padding: 30px;

}


@media (max-width:768px) {
  .cont1 {
    background-image: linear-gradient(to right, #f54f5a, #f58529, #f64f59, #d267c4, #00ffff);
  }
}

.navBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logoCont {
  display: flex;
  align-items: center;
  flex-grow: 1;
}

.logo {
  width: 36px;
  margin-right: 10px;
}

@media (min-width:768px) {
  .logo {
    width: 42px;
  }
}

.logoName {
  font-size: 36px;
  font-weight: 800;
}

.navItemsBox {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.navItems {
  display: none;
}

@media (min-width:768px) {
  .navItems {
    display: flex;
    margin-right: 20px;
  }
}


.searchBtn {
  font-size: 28px;
  font-weight: 500;
}

.header {
  font-size: 24px;
  font-style: italic;
  text-align: center;
}

@media (min-width:768px) {
  .header {
    font-size: 36px;
  }
}

.header-text {
  font-size: 16px;
  font-weight: 500;
  text-align: center;
}

@media (min-width:768px) {
  .header-text {
    font-size: 20px;
  }
}

.form-search {
  display: none;
}

@media (min-width:768px) {
  .form-search {
    display: flex;
    justify-content: center;
  }
}

.search {
  background-color: #ffffff;
  border-radius: 8px;
  height: 36px;
  width: 30vw;
  border: none;
  color: black;
  margin-right: 20px;
}

.search-btn {
  background-color: #3b82f6;
  color: white;
  height: 36px;
  border: none;
  border-radius: 8px;
  padding-right: 20px;
  padding-left: 20px;
}

.cont2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 50px;
  flex-wrap: wrap;
  flex-shrink: 1;
}

@media (min-width:768px) {
  .cont2 {
    flex-direction: row;
    padding-left: 25px;
    padding-right: 25px;
    justify-content: center;
    align-items: center;
    flex-shrink: 1;
  }
}


.card {
  flex-grow: 1;
  text-align: center;
  margin-top: 20px;
}

.cardIcon {
  width: 100px;
}

.cardText {
  color: #0f172a;
}