@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap");

.time-converter-bg-container {
  background-image: url("https://assets.ccbp.in/frontend/dynamic-webapps/time-converter-bg.png");
  height: 100vh;
}

.heading {
  color: white;
  font-size: 50px;
  font-weight: bold;
  font-family: "Open Sans";
}

.para {
  color: #f5f7fa;
  font-size: 20px;
  font-weight: 300;
  font-family: "Open Sans";
}

.time {
  color: #f5f7fa;
  font-size: 13px;
  font-family: "Open Sans";
}

.box {
  border-radius: 10px;
  height: 32px;
}

.button {
  height: 30px;
  width: 155px;
  border-radius: 5px;
  font-size: 14px;
  font-weight: 400;
  margin-top: 10px;
}

.container {
  border-color: white;
  border-radius: 6px;
  border-width: 4px;
}
